<button type="@ButtonType" class="crud-btn @GetStyleClass()" @onclick="OnClick" disabled="@Disabled">
    @Text
</button>

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string IconClass { get; set; } = "fa-solid fa-circle";

    [Parameter]
    public CrudButtonStyle Style { get; set; } = CrudButtonStyle.Create;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string ButtonType { get; set; } = "button";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private string GetStyleClass() => Style switch
    {
        CrudButtonStyle.Edit => "crud-btn-edit",
        CrudButtonStyle.Remove => "crud-btn-remove",
        CrudButtonStyle.Save => "crud-btn-save",
        CrudButtonStyle.Cancel => "crud-btn-cancel",
        CrudButtonStyle.Create => "crud-btn-create",
        _ => "crud-btn-create"
    };
}
